# Template for required secret variables
LIDARR__APIKEY=CHANGE_ME
OPENVPN_PASSWORD=CHANGE_ME
PGADMIN_DEFAULT_PASSWORD=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME
RADARR__APIKEY=CHANGE_ME
READARR__APIKEY=CHANGE_ME
SONARR__APIKEY=CHANGE_ME
