# Docker standalone / Unraid defaults
PUID=99
PGID=100
TZ=Europe/Berlin
ARR_DOMAIN=arr.example.com
FAST_ROOT=/mnt/user/appdata
SLOW_ROOT=/mnt/user/data
OPENVPN_USER=CHANGE_ME
PGADMIN_DEFAULT_EMAIL=admin@example.com
ZONE_ID=CHANGE_ME

# Template for required secret variables
LIDARR__APIKEY=CHANGE_ME
OPENVPN_PASSWORD=CHANGE_ME
PGADMIN_DEFAULT_PASSWORD=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME
RADARR__APIKEY=CHANGE_ME
READARR__APIKEY=CHANGE_ME
SONARR__APIKEY=CHANGE_ME
